<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <form action="" class="form-inline">
                <fieldset class="form-group col-sm-11"></fieldset>
                <fieldset class="form-group col-sm-1"><a class="btn btn-primary" [routerLink]="['/tareas/new']">+</a></fieldset>

            </form>

            <br>

            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-sm-3">Titulo</th>
                        <th class="col-sm-4">Fecha</th>
                        <th class="col-sm-5">Estado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tarea of tareas | async" class="row">
                        <td class="col-sm-3"><i>{{tarea.titulo}}</i></td>
                        <td class="col-sm-4"><i>{{tarea.fecha | date}}</i></td>
                        <td class="col-sm-3"><i>{{tarea.estado}}</i></td>
                        <td class="col-sm-1"><a class="btn btn-info" [routerLink]="['/tareas',tarea._id,'edit']">Edit</a></td>
                        <td class="col-sm-1"><a class="btn btn-danger" (click)="deleteTarea(tarea._id)">-</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>