<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" #tareaForm="ngForm">
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label for="titulo" class="control-label">Título</label>
                    <input type="text" class="form-control" required [(ngModel)]="tarea.titulo" name="titulo">
                </div>

            </fieldset>

            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label for="fecha" class="control-label">Fecha</label>
                    <input type="date" class="form-control" required [ngModel]="tarea.fecha | date: 'yyyy-MM-dd'" (ngModelChange)="tarea.fecha=$event" name="fecha">
                </div>

            </fieldset>

            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label for="estado" class="control-label">Estado</label>
                    <select name="estado" class="form-control" required [(ngModel)]="tarea.estado" id="">
                      <option *ngFor="let estado of TareaEstadosSelect" [value]="estado.value"> {{estado.value}}</option>
                    </select>
                </div>

            </fieldset>

            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button type="submit" class="btn btn-primary" [disabled]="!tareaForm.form.valid">Submit</button>
                </div>

            </fieldset>

        </form>
    </div>
</div>
